<div id="{{$ctrl.template.containerId}}" 
		class="fit-screen"  
		ng-class="{ true: 'unscrollable', false: 'u-scrollable' }[$ctrl.editMode]" 
		style="border:1px solid black;" > 
		<!-- ng-class="{scrollable:!$ctrl.editMode,unscrollable:$ctrl.editMode }" --> 
	<canvas id="{{$ctrl.template.canvasId}}" >
	</canvas>
	<canvas id="{{$ctrl.template.canvasTmpId}}" 
			style="position: absolute;top: 0;left: 0; {{ !$ctrl.editMode? 'display: none !important':''}}"
			ng-class="{ nondisplay :!$ctrl.editMode}" >
	</canvas>
</div>
