<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Labratory: Drawing on PDF file</title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/css/style.css" rel="stylesheet">
    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/angular.min.js"></script>
    <script src="/lib/js/$QDecorator.js"></script>
    <script src="/lib/js/jspdf.min.js"></script>
    <script src="/js/ngCtrl.js"></script>
    <script src="/js/ngPainterComponent.js"></script>
    <script src="/js/ngHttpFactory.js"></script>
    <script src="/lib/js/build/pdf.js"></script>
    <style type="text/css">
        .u-scrollable{
            overflow: auto;
        }
        .unscrollable{
            overflow: hidden;   
        }
        .nondisplay{
            display: none !important;
        }
        .fit-screen{
            max-width:100% !important;
            height:80%;
        }
    </style>

</head>
<body ng-app="drawingApp" style="height: 100vh;" >
	<div ng-controller="drawingController as ctrl" style="padding-bottom: 2rem;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="width:100%;">
            <div class="btn-group pull-left">
                <button class="btn btn-default " ng-click="ctrl.changePage(1);">Previous</button> 
                <button class="btn btn-default " ng-click="ctrl.changePage(2);">Next</button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-warning " ng-click="ctrl.toggleEditMode();" 
                    ng-class="{true: 'btn-primary', false: 'btn-danger'}[!ctrl.editMode]">Edit</button>
                <button class="btn btn-success " ng-click="ctrl.savePage();">Save</button>
            </div>
        </nav>
        
        <div class="container-fluid p-0">
            <div style="text-align:center;height: 85vh;"> 
    		    <painter  ng-repeat="page in ctrl.pdfComponent" 
                          component-id="page.componentid"
                          option="page.option"
                          pdf-obj="page.pdfobj" 
                          page-numb="page.pagenumb" 
                          edit-mode="ctrl.editMode"
                          ng-show="ctrl.pdfProperty.currentPage == page.pagenumb" >
                </painter> 
            </div>
        </div>
	</div>
</body>

</html>